<div id="conditionSection" style="display: none;">
  <div style="margin-bottom: 15px; display: flex; gap: 10px;">
    <div style="width: 50%;">
      <label>Condition:</label>
      <select id="condition" style="width: 100%; padding: 5px;">
        <option value="">Select condition...</option>
        {{#each conditionOptions as |opt|}}
        <option value="{{opt.value}}">{{opt.label}}</option>
        {{/each}}
      </select>
    </div>
    <div style="width: 50%;">
      <label>Duration:</label>
      <select id="duration" style="width: 100%; padding: 5px;">
        <option value="">Select duration...</option>
        {{#each durationOptions as |opt|}}
        <option value="{{opt.value}}">{{opt.label}}</option>
        {{/each}}
      </select>
    </div>
  </div>
</div>