<div style="margin-bottom: 15px; display: flex; gap: 10px;">
  <div style="width: 50%;">
    <button type="submit" data-type="saveAndClose" style="width: 100%;">
      <i class="fa-solid fa-save"></i> Save and Close
    </button>
  </div>
    <div style="width: 50%;">
    <button type="submit" data-type="save" style="width: 100%;">
      <i class="fa-solid fa-check"></i> Apply
    </button>
  </div>
</div>