<section class="tab tmm-tab-modifiers {{tab.cssClass}}"
         data-group="primary"
         data-tab="modifiers">
  <div style="margin-bottom: 15px; display: flex; gap: 10px;">
    <div style="width: 50%;">
      <label>Effect Origin:</label>
      <select id="origin"
              name="origin"
              style="padding: 5px;">
        <option value="">Select...</option>
        {{#each playerCombatants as |combatant|}}
        <option value="{{combatant.tokenId}}"
                {{#if
                (eq
                combatant.id
                ../defaultPlayerCombatant.id)}}selected{{/if}}>{{combatant.name}}</option>
        {{/each}}
      </select>
    </div>

    <div style="width: 15%;">
      <label>+/-</label>
      <select id="isNegativeModifier"
              name="isNegativeModifier"
              style="padding: 5px;">
        <option value="false">+</option>
        <option value="true">-</option>
      </select>
    </div>

    <div style="width: 35%;">
      <label>Ability Score:</label>
      <select id="scoreValue"
              name="scoreValue"
              style="padding: 5px;">
        <option>Select...</option>
        <option value="strength">Strength</option>
        <option value="dexterity">Dexterity</option>
        <option value="constitution">Constitution</option>
        <option value="intelligence">Intelligence</option>
        <option value="wisdom">Wisdom</option>
        <option value="charisma">Charisma</option>
      </select>
    </div>
  </div>
  <div style="margin-bottom: 15px; display: flex; gap: 10px;">
    <div style="width: 25%;">
      <label>Modifies:</label>
      <select id="modifierType"
              name="modifierType"
              style="padding: 5px;">
        <option value="">Select...</option>
        <option value="ac">AC</option>
        <option value="attacks">Attacks</option>
        <option value="damage">Damage</option>
        <option value="defenses">Defenses</option>
        <option value="savingThrows">Saves</option>
        <option value="speed">Speed</option>
      </select>
    </div>
    <div style="width: 25%;">
      <label>Type:</label>
      <select id="modifierBonusType"
              name="modifierBonusType"
              style="padding: 5px;">
        <option value="power">Power</option>
        <option value="item">Item</option>
        <option value="race">Race</option>
        <option value="untyped">Untyped</option>
      </select>
    </div>

    <div style="width: 50%;">
      <label>Number Override:</label>
      <input type="number"
             id="numberValue"
             name="numberValue"
             style="padding: 5px;"
             placeholder="Enter value">
    </div>
  </div>
  <p>If you select a number it overwrites the ability score.</p>

</section>