<section class="tab tmm-tab-modifiers {{tab.cssClass}}"
         data-group="primary"
         data-tab="modifiers">
  <div style="margin-bottom: 15px; display: flex; gap: 10px;">
    <div style="width: 50%;">
      <label>Modifier:</label>
      <select id="modifierType"
              name="modifierType"
              style="padding: 5px;">
        <option value="">Select...</option>
        <option value="AC">AC</option>
        <option value="Attacks">Attacks</option>
        <option value="Damage">Damage</option>
        <option value="Defenses">Defenses</option>
        <option value="Saving Throws">Saving Throws</option>
        <option value="Speed">Speed</option>
      </select>
    </div>
    <div style="width: 50%;">
      <label>Type:</label>
      <select id="bonusType"
              name="bonusType"
              style="padding: 5px;">
        <option value="power">Power</option>
        <option value="item">Item</option>
        <option value="race">Race</option>
        <option value="untyped">Untyped</option>
      </select>
    </div>
  </div>
  <div style="margin-bottom: 15px; display: flex; gap: 10px;">
    <div style="width: 50%;">
      <label>Effect Origin:</label>
      <select id="origin"
              name="origin"
              style="padding: 5px;">
        {{#each combatants as |combatant|}}
        <option value="{{combatant.tokenId}}"
                {{#if
                (eq
                combatant.id
                ../defaultCombatant.id)}}selected{{/if}}>{{combatant.name}}</option>
        {{/each}}
      </select>
    </div>

    <div style="width: 25%;">
      <label>Score:</label>
      <select id="scoreValue"
              name="scoreValue"
              style="padding: 5px;">
        <option>Select...</option>
        <option value="strength">Plus STR</option>
        <option value="minus-strength">Minus STR</option>
        <option value="dexterity">Plus DEX</option>
        <option value="minus-dexterity">Minus DEX</option>
        <option value="constitution">Plus CON</option>
        <option value="minus-constitution">Minus CON</option>
        <option value="intelligence">Plus INT</option>
        <option value="minus-intelligence">Minus INT</option>
        <option value="wisdom">Plus WIS</option>
        <option value="minus-wisdom">Minus WIS</option>
        <option value="charisma">Plus CHA</option>
        <option value="minus-charisma">Minus CHA</option>
      </select>
    </div>
    <div style="width: 25%;">
      <label>Number:</label>
      <input type="number"
             id="numberValue"
             name="numberValue"
             style="padding: 5px;"
             placeholder="Enter value">
    </div>
  </div>
  <p>If you select a number it overwrites the selected ability score.</p>

</section>