<section
  class="tab tmm-tab-ongoing {{tab.cssClass}}"
  data-group="primary"
  data-tab="ongoing"
>
  <div style="margin-bottom: 15px; display: flex; gap: 10px;">
    <div style="width: 50%;">
      <label>Type:</label>
      <select id="ongoingType" style="width: 100%; padding: 5px;">
        <option value="">Select type...</option>
        {{#each damageTypeOptions as |opt|}}
        <option value="{{opt.value}}">{{opt.label}}</option>
        {{/each}}
      </select>
    </div>
    <div style="width: 50%;">
      <label>Damage:</label>
      <input type="number" id="ongoingDamage" style="width: 100%; padding: 5px;" placeholder="Enter damage amount">
    </div>
  </div>
</section>